* {
  background-color: #FFE5DB;
}

.App {
  text-align: center;
  
}

.Main-App {
  box-sizing: border-box;
  margin: 0;
}
.Main-Nav {
  background-image: linear-gradient(to bottom right,#634A8C, #CE0B5F );
  display: flex;
  justify-content: space-between;
  color: #e01f22;
  gap: 2rem;
  padding: 0 1rem;
  align-items: center;

}
.Main-Nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  background-color: transparent;
}
.Main-Nav li {
  background-color: transparent;
}
.Main-Nav a{
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  background-color: transparent;
}
.Main-Nav li:hover {
  color: #2F4858;
  
}

.loginWrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 100px;
  padding: 0 20%;
};